{% extends "global/base.html" %}

{% block content %}
<div class="single-contact/">
    <h1 class="sigle-contact-name">
        {{contact.first_name}} {{contact.last_name}}
    </h1>
    <p><b>ID: {{contact.id}}</b>   </p>
    <p><b>E-mail: {{contact.email}}</b>   </p>
    <p><b>Phone: {{contact.phone}}</b>   </p>
    <p><b>Created Date: {{contact.created_date}}</b>   </p>
    <p><b>Description: {{contact.description}}</b>   </p>
    <p><b>Category: {{contact.category.name}}</b>   </p>
    {% if contact.picture %}
        <p>
            <img src="{{contact.picture.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
      </p>
    {% endif %}
    
    {% if user == contact.owner %}
        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>
            
            <form action="{% url "contact:delete" contact.id %}" method="POST">
                {% csrf_token %}

                {% if confirmation == 'no' %} 
                    <input type='hidden' name='confirmation' value='yes'>
                    <button type="submit" class="btn btn-link btn-delete">Confirma?</button>
                {% else %}
                    <button type="submit" class="btn btn-link btn-delete">Delete</button>
                {% endif %}
                    
            </form>
        </div>
    {% endif %}

</div>
{% endblock content %}